# Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

# Types of functions
1) Build-In function

2) User Defined function

3) Reccurssion functions

4) Lambda Functionsx

input()
print()
len()
range()
lower()
upper()
append()
pop()
keys()
items()

# Built-In functions
Python has a set of built-in functions.
abs()	Returns the absolute value of a number
all()	Returns True if all items in an iterable object are true
any()	Returns True if any item in an iterable object is true
ascii()	Returns a readable version of an object. Replaces none-ascii characters with escape character
bin()	Returns the binary version of a number
bool()	Returns the boolean value of the specified object
bytearray()	Returns an array of bytes
bytes()	Returns a bytes object
callable()	Returns True if the specified object is callable, otherwise False
chr()	Returns a character from the specified Unicode code.
classmethod()	Converts a method into a class method
compile()	Returns the specified source as an object, ready to be executed
complex()	Returns a complex number
delattr()	Deletes the specified attribute (property or method) from the specified object
dict()	Returns a dictionary (Array)
dir()	Returns a list of the specified object's properties and methods
divmod()	Returns the quotient and the remainder when argument1 is divided by argument2
enumerate()	Takes a collection (e.g. a tuple) and returns it as an enumerate object
eval()	Evaluates and executes an expression
exec()	Executes the specified code (or object)
filter()	Use a filter function to exclude items in an iterable object
float()	Returns a floating point number
format()	Formats a specified value
frozenset()	Returns a frozenset object
getattr()	Returns the value of the specified attribute (property or method)
globals()	Returns the current global symbol table as a dictionary
hasattr()	Returns True if the specified object has the specified attribute (property/method)
hash()	Returns the hash value of a specified object
help()	Executes the built-in help system
hex()	Converts a number into a hexadecimal value
id()	Returns the id of an object
input()	Allowing user input
int()	Returns an integer number
isinstance()	Returns True if a specified object is an instance of a specified object
issubclass()	Returns True if a specified class is a subclass of a specified object
iter()	Returns an iterator object
len()	Returns the length of an object
list()	Returns a list
locals()	Returns an updated dictionary of the current local symbol table
map()	Returns the specified iterator with the specified function applied to each item
max()	Returns the largest item in an iterable
memoryview()	Returns a memory view object
min()	Returns the smallest item in an iterable
next()	Returns the next item in an iterable
object()	Returns a new object
oct()	Converts a number into an octal
open()	Opens a file and returns a file object
ord()	Convert an integer representing the Unicode of the specified character
pow()	Returns the value of x to the power of y
print()	Prints to the standard output device
property()	Gets, sets, deletes a property
range()	Returns a sequence of numbers, starting from 0 and increments by 1 (by default)
repr()	Returns a readable version of an object
reversed()	Returns a reversed iterator
round()	Rounds a numbers
set()	Returns a new set object
setattr()	Sets an attribute (property/method) of an object
slice()	Returns a slice object
sorted()	Returns a sorted list
staticmethod()	Converts a method into a static method
str()	Returns a string object
sum()	Sums the items of an iterator
super()	Returns an object that represents the parent class
tuple()	Returns a tuple
type()	Returns the type of an object
vars()	Returns the __dict__ property of an object
zip()	Returns an iterator, from two or more iterators

 # Creating a Function
A function is created using "def" keyword

def name(arg):
     logic

In [1]:
def addition(a, b):
    '''hi this is doc string'''
    result = a+b
    print(result)

In [ ]:
#Creating function without return statement
def my_function():
    print("Hello from a function")

# Calling a Function
To call a function, use the function name followed by parenthesis:

In [ ]:
my_function()

In [9]:
#calling a func
print(addition(5,6))

11
None

# Function with return statement

In [8]:
def add(a,b):
    result = a+b
    return result

In [11]:
print(add(5,6))

11

# Why not getting None after this fucntion call?
use and limitations of of return statement

In [ ]:
#WAP to find the lenght of mobile number

In [1]:
len("hie")

3

In [3]:
len([7,6,5])

3

In [4]:
no=9384
len(no)

TypeError: object of type 'int' has no len()

In [13]:
# we calulating the lenght of the digits
def length(num):
    counter = 0
    while num>0 :
        rem = num % 10 
        counter +=1
        num//= 10
    return counter

In [16]:
no = 937474
print(length(no))

6

In [17]:
length(6463873)

7

In [18]:
# function can be assigned to a variable 
a = length(387575)
a

6

# WAP to find vowels in your name 
output: there are 3 vowels in your name, and they are
a = 1
e = 0
i = 0


#flow
1) def function name (parameter)
2) checking if the input is string, if not print as invalid input
3) if it is string make it in lower case
4) for loop initiated for parameter
5) if letter is

#test cases
1) your name
2) XA36IO
3) 4 Pivert Drive
4) ContactUs@coachx.live
5) 8364.3983

In [20]:
def vowels(word):
    vowels = "aeiou"
    word = word.lower()
    total = 0
    a = e = i = o = u = 0
    for ch in word:
        if ch in vowels:
            total += 1
            if ch == 'a':
                a += 1
            elif ch == 'e':
                e += 1
            elif ch == 'i':
                i += 1
            elif ch == 'o':
                o += 1
            elif ch == 'u':
                u += 1
            return total
    if total > 0:
        print ("There are", total,"words")
        print ("a:",a,", e:",e,", i:",i,", o:",o,", u:",u)
    else:
        print("There are no vowels")

In [ ]:
1) your name
2) XA36IO
3) 4 Pivert Drive
4) ContactUs@coachx.live
5) 8364.3983

In [25]:
vowels("4 Pivert Drive")

There are 4 words
a: 0 , e: 2 , i: 2 , o: 0 , u: 0

# Arguments
Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
def greeting(name):
    print(name + " good morning!")

In [ ]:
print(greeting("Sushant"))
print(greeting )

# Parameters or Arguments?
The terms parameter and argument can be used for the same thing: information that are passed into a function.

From a function's perspective:

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called.

Number of Arguments
By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [27]:
#Position argument
def full_names(fname, lname):
    print("Hello",fname + " " + lname)

In [28]:
full_names("Chetan","Parmar")

Hello Chetan Parmar

In [29]:
full_names("Paramar", "Chetan")

Hello Paramar Chetan

In [31]:
def addition(a,b,c,d):
    result = a+b+c+d
    return result


addition(3,4,6,9)

22

In [ ]:
addition(9,6,4,3)

In [32]:
#get 2 but accepts only 1
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Kaivalya", "Joshi", "random")

TypeError: my_function() takes 2 positional arguments but 3 were given

In [33]:
#get 2 but accepts only 1
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Kaivalya")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [35]:
a = 1
b = 3
c = 5
print(a,c)

1 5

# Arbitrary Arguments, *args
If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [36]:
def my_function(*kids):
    print("The youngest child is " + kids[2])
    #print("The middle child is " + kids[1])
    #print("The oldest child is " + kids[0])


my_function("Emil", "Pushkaraj", "Kate","Vrushali")

The youngest child is Kate

# Keyword Arguments
You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

In [38]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)
    print("Eldest child is " + child1)

In [39]:
my_function(child3 = "chetan", child1="Anjali", child2 = "Vruushali")

The youngest child is chetan
Eldest child is Anjali

In [40]:
my_function(child3 = "chetan", child1="Anjali",)

TypeError: my_function() missing 1 required positional argument: 'child2'

In [42]:
my_function(child3 = "chetan", child1="Anjali", child2="Vruushali", child4="kate")

TypeError: my_function() got an unexpected keyword argument 'child4'

In [43]:
my_function(child3 = "chetan", child1="Anjali", "Vrrushali")

SyntaxError: positional argument follows keyword argument (1322626830.py, line 1)

# Arbitrary Keyword Arguments, **kwargs

If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [ ]:
def my_function(**kid):
    
        print("His NAME is " + kid["fname"])
    
        
my_function(fname = "Raj", age = 21, skills = "Python")
my_function(age = 26,fname = "Hitesh", hobbies= "youtube")

In [ ]:
def my_function(**child):
  print("The youngest child is " + child["child3"])

my_function(child3 = "Pushkaraj", child1="Kate", child2= "Hope")

In [ ]:
def add(**num):
    result = num['num1']+ num['num2']+num["num3"]
    print(result)
    
add(num1=5, num2=4, num3=1)

# Default Parameter Value
The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value:

In [45]:
def my_function(country = "India"):
    print("I live in " + country)

In [47]:
my_function()

I live in India

In [46]:
my_function(country="Canada")

I live in Canada

In [ ]:
def my_function(country):
    print("I live in " + country)
my_function()

In [48]:
def add(d=0,a =0, b =0, c =0):
    result = a+b+c+d
    return result

In [49]:
add()

0

In [50]:
add(a = 7,b= 5)

12

In [ ]:
#practise problem
1) WAP to create a function to find if the given number is a armstrong number 135 - 1^3+3^3+5^3
2)WAP to create a single length function for int as well as string data type
#WAP to create a function to count vowels in a given string
WAP to create a function to perform addition, sub, div, mul tasks using the users option
WAP to create a function to create a fibonacci series upto 5 values 0,1,1,2
wAP to create a function to print the pattern of letter A

# Recursion
Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.


To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it.

In [ ]:
# factorial

In [63]:
def fact(num):
    if num ==1:
        return 1
    else:
        print(num, "fact(",num-1,")")
        return (num*fact(num-1))

In [64]:
a = fact(5)
print(a)

5 fact( 4 )
4 fact( 3 )
3 fact( 2 )
2 fact( 1 )
120

In [ ]:
5*4*3*2*1
factorial(5)               =120
5*facotial(4)              =5*24
   4*factorial(3)          =4*6
       3*factorial(2)      =3*2
           2*factorial(1)  =2*1

In [ ]:
#WAP to add a series from 1 to 10

# Lambda
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

Syntax:
lambda arguments : expression

In [66]:
#Add 10 to argument a, and return the result:

x = lambda a : a + 10
print(x(5))

15

In [ ]:
#Multiply argument a with argument b and return the result:

x = lambda a, b : a * b
print(x(5, 6))

In [67]:
a =  lambda n1,n2=5,n3=6: n1+n2+n3
print(a(2))

13

In [68]:
print(a(2,5,5))

12

In [73]:
a =lambda num: num if num%2==0 else "odd"

In [74]:
a(5)

'odd'

In [4]:
#lambda with map function
list1=[1,2,3,4]
a = list(map(lambda x: x*2, list1))
a

[2, 4, 6, 8]